In [10]:
from ydata_profiling import ProfileReport
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [4]:
df=pd.read_csv('placement.csv')
df.head(3)

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  123.0          1
1           1   5.9  106.0          0
2           2   5.3  121.0          0

In [5]:
profile=ProfileReport(df)

In [11]:
profile.to_file("placement.html")

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]